@media only screen and  (max-width:985px){


/* world class */
.head-2 {
    font-size: 75px;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;

}



.benefits {
    /* border: 2px solid red; */
    column-gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clean {
    /* border: 2px solid red; */
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 3px black; */
    margin: 14px 8px;
    padding: 45px 25px;
    line-height: 2.5rem;
    font-size: 24px;
    width: 98% !important;
    background: #1d1d1f;
    color: white;
}

.weeks {
    /* border: 2px solid red; */
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 3px black; */
    margin: 14px 8px;
    padding: 45px 35px;
    line-height: 2.5rem;
    font-size: 24px;
    width: 98% !important;
    background: #1d1d1f;
    color: white;

}



.sb-txt-2 {
    font-size: 62px;
    line-height: 1;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
}

.head-3 {
    font-size: 50px;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
}
}


@media only screen and (min-width:580px) and (max-width:780px){


/* world class */
.head-2 {
    font-size: 55px;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;

}



.benefits {
    /* border: 2px solid red; */
    column-gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clean {
    /* border: 2px solid red; */
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 3px black; */
    margin: 14px 8px;
    padding: 45px 25px;
    line-height: 2.5rem;
    font-size: 24px;
    width: 95% !important;
    background: #1d1d1f;
    color: white;
}

.weeks {
    /* border: 2px solid red; */
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 3px black; */
    margin: 14px 8px;
    padding: 45px 35px;
    line-height: 2.5rem;
    font-size: 24px;
    width: 95% !important;
    background: #1d1d1f;
    color: white;

}



.sb-txt-2 {
    font-size: 62px;
    line-height: 1;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
}

.head-3 {
    font-size: 50px;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
}

}
@media only screen  and (max-width:580px){
/* branding */
.hero-eyebrow{
    font-size: 30px !important;
}
.hero-heading{
    font-size: 40px !important;
}

/* world class */
.head-2 {
    font-size: 35px;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;

}



.benefits {
    /* border: 2px solid red; */
    column-gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clean {
    /* border: 2px solid red; */
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 3px black; */
    margin: 14px 8px;
    padding: 45px 25px;
    line-height: 2.5rem;
    font-size: 15px !important;
    width: 95% !important;
    background: #1d1d1f;
    color: white;
}

.weeks {
    /* border: 2px solid red; */
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 3px black; */
    margin: 14px 8px;
    padding: 45px 35px;
    line-height: 2.5rem;
    font-size: 24px;
    width: 95% !important;
    background: #1d1d1f;
    color: white;

}



.sb-txt-2 {
    font-size: 62px;
    line-height: 1;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
}

.head-3 {
    font-size: 50px;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
}
.logo-portfolio-frontend-mentor{
    width: 96px; 
    height:29px;
    margin:12px -9px ;
}
}
@media only screen  and (max-width:356px){
/* branding */
.hero-eyebrow{
    font-size: 20px !important;
}
.hero-heading{
    font-size: 30px !important;
}

/* world class */
.world-class{
    height: 400px !important;
}
.head-2 {
    font-size: 30px;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;

}



.benefits {
    /* border: 2px solid red; */
    column-gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clean {
    /* border: 2px solid red; */
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 3px black; */
    margin: 14px 8px;
    padding: 45px 25px;
    line-height: 2.5rem;
    font-size: 14px;
    width: 98% !important;
    background: #1d1d1f;
    color: white;
}

.weeks {
    /* border: 2px solid red; */
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 3px black; */
    margin: 14px 8px;
    padding: 45px 35px;
    line-height: 2.5rem;
    font-size: 14px;
    width: 98% !important;
    background: #1d1d1f;
    color: white;

}



.sb-txt-2 {
    font-size: 62px;
    line-height: 1;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
}

.head-3 {
    font-size: 35px;
    background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-animation: intro-gradient 10s infinite ease both;
    -moz-animation: intro-gradient 10s infinite ease both;
    animation: intro-gradient 10s infinite ease both;
    -webkit-text-fill-color: transparent;
}

.logo-portfolio-frontend-mentor{
    width: 96px; 
    height:29px;
    margin:12px -9px ;
}
}
/* porfolio css */

/* box css */
@media only screen and (max-width:1400px){
    .box-1 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 30px;
    }
    
    .box-2 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -30px;
    
    }
    
    .box-3{
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 30px;
    
    }
    
    .box-4 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -30px;
    
    }
}
@media only screen and (max-width:1300px){
    .box-1 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 25px;
    }
    
    .box-2 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -25px;
    
    }
    
    .box-3{
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 25px;
    
    }
    
    .box-4 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -25px;
    
    }
}
@media only screen and (max-width:1250px){
    .box-1 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 20px;
    }
    
    .box-2 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -20px;
    
    }
    
    .box-3{
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 20px;
    
    }
    
    .box-4 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -20px;
    
    }
}
@media only screen and (max-width:1100px){
    .box-1 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 15px !important;
    }
    
    .box-2 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -15px !important;
    
    }
    
    .box-3{
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 15px !important;
    
    }
    
    .box-4 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -15px !important;
    
    }
}
@media only screen and (max-width:1050px){
    .box-1 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 0px !important;
    }
    
    .box-2 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -0px !important;
    
    }
    
    .box-3{
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 0px !important;
    
    }
    
    .box-4 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -0px !important;;
    
    }
}
@media only screen and (max-width:1000px){
    .box-1 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 14px;
    }
    
    .box-2 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -14px;
    
    }
    
    .box-3{
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 14px;
    
    }
    
    .box-4 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -14px;
    
    }
}

@media only screen and (max-width:950px){
    .box-1 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 12px;
    }
    
    .box-2 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -12px;
    
    }
    
    .box-3{
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: 12px;
    
    }
    
    .box-4 {
        background-size: 45vw 51vh;
        height: 40vh;
        width: 40vw;
        margin-left: -12px;
    
    }
}

/* box css over */
@media only screen and (max-width:1291px){
    .portfolio-sub-heading{
        padding: 2px 419px 2px 2px;
    }
}
@media only screen and (max-width:1260px){
    .portfolio-sub-heading{
        padding: 2px 296px 2px 2px;
    }
}
@media only screen and (max-width:1137px){
    .portfolio-sub-heading{
        padding: 2px 173px 2px 2px;
    }
    .btn-portfolio{
        font-size: 16px;

    }
}
@media only screen and (max-width:1015px){
    .portfolio-sub-heading{
        padding: 2px 51px 2px 2px;
    }
    .btn-portfolio{
        padding: 0.5rem 0rem !important;
        width: 25% !important;
    }
}
@media only screen and (max-width:985px){
    .clean{
        margin: 54px;
    }
    .weeks{
        margin-bottom: 84px;
    }
}
@media only screen and (max-width:808px){
    .portfolio-sub-heading{
        font-size: 62px;
        line-height: 4rem;
    }
    .btn-portfolio{
        width: 20% !important;
    }
    .box-1 {
        background-size: 45vw 40vh;
        height: 30vh;
        width: 40vw;
    }
    
    .box-2 {
        background-size: 45vw 40vh;
        height: 30vh;
        width: 40vw;
    }
    
    .box-3{
        background-size: 45vw 40vh;
        height: 30vh;
        width: 40vw;
    }
    
    .box-4 {
        background-size: 45vw 40vh;
        height: 30vh;
        width: 40vw;
    }
    
}
@media only screen and (max-width:763px){
    .portfolio-sub-heading{
        font-size: 55px;
        line-height: 3.5rem;
    }
    
}
@media only screen and (max-width:747px){
    .portfolio-main-heading{
        margin: 120px 2px -50px 4px;
    }
    .portfolio-sub-heading{
        font-size: 55px;
        line-height: 3.5rem;
    margin: 0px 2px 2px 14px;
    padding: 2px 138px 2px 2px;
    }
    .project-box {
        padding: 10px 15px;
        margin: 62px 2px;
    }
    .box-1 {
        background-size: 45vw 40vh;
        height: 28vh;
        width: 40vw;
    }
    
    .box-2 {
        background-size: 45vw 40vh;
        height: 28vh;
        width: 40vw;
    }
    
    .box-3{
        background-size: 45vw 40vh;
        height: 28vh;
        width: 40vw;
    }
    
    .box-4 {
        background-size: 45vw 40vh;
        height: 28vh;
        width: 40vw;
    }
}
@media only screen and (max-width:680px){
    .project-box{
        display: flex !important;
        flex-direction: column !important;
    }
.btn-portfolio{
    width: 25% !important;
}
}
@media only screen and (max-width:668px){
    .portfolio-sub-heading{
        padding: 2px 54px 2px 2px;
    }
    /* .box-2{
        margin-top: 25px;
        
    } */
}
@media only screen and (max-width:634px){
    .portfolio-sub-heading{
        font-size: 55px;
        line-height: 3.5rem;
    }
}
@media only screen and (max-width:600px){
    .portfolio-sub-heading{
        font-size: 55px;
        line-height: 3.5rem;
    }
    .pareshani {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        margin-left: -2px;
    }
    .box:hover {
        background-size: 98vw 40vh;
    }
    .box-1 {
        background-size: 98vw 40vh;
        height: 31vh;
        width: 89vw;
    }
    
    .box-2 {
        background-size: 98vw 40vh;
        height: 31vh;
        width: 89vw;
    }
    
    .box-3{
        background-size: 98vw 40vh;
        height: 31vh;
        width: 89vw;
    }
    
    .box-4 {
        background-size: 98vw 40vh;
        height: 31vh;
        width: 89vw;
    }
}
@media only screen and (max-width:584px){
    .portfolio-sub-heading{
        padding: 2px 2px 2px 2px;
    margin: 23px 2px 2px 0px;

    }
.portfolio-main-heading{
    margin: 23px 2px -50px 0px;

}
.clean{
    margin: 54px;
}
.weeks{
    margin-bottom: 84px;
}
}
@media only screen and (max-width:532px){
    .portfolio-sub-heading{
        font-size: 45px;
        padding: 2px 13px 2px 2px;
        line-height: 2.8rem;
    }
    .btn-portfolio{
        font-size: 16px;

    }
}
@media only screen and (max-width:462px){

    .portfolio-sub-heading{
        font-size: 41px;
        padding: 2px 1px 2px 2px;
        line-height: 2.2rem;
        margin: 9px 2px 2px 11px;

    }
    .project-box{
        margin-top: 60px;
        
    }
    .btn-portfolio{
        width: 30% !important;
        font-size: 16px;

    }
}
@media only screen and (max-width:377px){
    .portfolio-sub-heading{
        font-size: 30px;
        padding: 2px 1px 2px 2px;
        line-height: 2rem;
    }
    .project-box{
        margin-top: 46px;
    }

    .pareshani {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        margin-left: -6px;
    }
    .box:hover {
        background-size: 97vw 28vh;
    }
    .box-1 {
        background-size: 97vw 28vh;
        height: 22vh;
        width: 88vw;
    }
    
    .box-2 {
        background-size: 97vw 28vh;
        height: 22vh;
        width: 88vw;
    }
    
    .box-3{
        background-size: 97vw 28vh;
        height: 22vh;
        width: 88vw;
    }
    
    .box-4 {
        background-size: 97vw 28vh;
        height: 22vh;
        width: 88vw;
    }
    .btn-portfolio{
        width: 40% !important;
        font-size: 16px;

    }
}
@media only screen and (max-width:369px){
    .btn-portfolio{
        width: 40% !important;
        font-size: 16px;

    }
}
@media only screen and (max-width:308px){
    .btn-portfolio{
        width: 40% !important;
        font-size: 16px;

    }
}
@media only screen and (max-width:300px){
    .portfolio-main-heading{
        font-size: 20px;
    padding: 2px 2px 2px 2px;
}
   .portfolio-sub-heading{
       font-size: 20px;
       padding: 2px 1px 2px 2px;
       line-height: 1.7rem;
       margin: 1px 2px 2px 11px;
       
    }
    .project-box{
        margin-top: 25px;
    }
    
    .pareshani {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        margin-left: 0px;
    }
    .box:hover {
        background-size: 83vw 20vh;
    }
    .box-1 {
        background-size: 83vw 20vh;
        height: 16vh;
        width: 76vw;
    }
    
    .box-2 {
        background-size: 83vw 20vh;
        height: 16vh;
        width: 76vw;
    }
    
    .box-3{
        background-size: 83vw 30vh;
        height: 16vh;
        width: 76vw;
    }
    
    .box-4 {
        background-size: 83vw 20vh;
        height: 16vh;
        width: 76vw;
    }
    .btn-portfolio{
        width: 45% !important;
        font-size: 16px;
    }
    .btn{
        font-size: 16px;

    }
}
@media only screen and (max-width:261px){
    .btn-portfolio{
        width: 55% !important;
    }
}