body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.main {
    background: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: 20px 20px;
    background-size: 101vw 55vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 0;
    border-radius: 20px;
    /* border-top-right-radius: 20px; */
    position: relative;
    top: 25px;
    background-color: white;
    width: 300px !important;
}

.hero {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 600px !important;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h4 {
    display: block;
    margin: 22px auto 12px auto;
    padding: 2px 2px;
    /* line-height: 4rem; */
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
}

.text-box {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.55;
}

.price {
    /* border: 2px solid red; */
    margin: 20px 10px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    position: relative;
    right: 30px;
    top: 5px;
}

.mid-txt {
    position: relative;
    right: 40px;
    /* line-height: 1rem; */
}

.chg {
    position: relative;
    top: 10px;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: 900;
    cursor: pointer;
}

.chg:hover {
    opacity: 0.6;
}

.checkout {
    display: flex;
    flex-direction: column;
}

.pay {
    width: 270px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    padding: 7px 2px;
    border: none;
}

.pay:hover {
    /* width:300px;
    background-color:  hsl(224, 23%, 55%) !important;
    color: hsl(225, 100%, 98%);
    border-radius: 10px; */
    opacity: 0.6;
    color: white;
}

.cancel {
    color: hsl(223, 47%, 23%);
    font-size: 12px;
    font-weight: 900;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.8;
}
.cancel:hover{
    opacity: 0.9;
}